* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  background-image: url('./images/backgroundimage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
 body::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
 }
 .container{
	background: transparent;
	width: 400px;
	height: 350px;
  position: absolute;
  left: 38%;
  top: 27%;

}
 
h1{
  font-family: 'Lora', serif;
  color: aliceblue;
 
}
h3{
  font-family: 'Merriweather', serif;
color: aliceblue;
}
.links{
  position: absolute;
  right: 50px;
  top: 30px;
  border: px solid black;
  
}

.navbar-item{
  margin: 5px;
  color: aliceblue;
}
.logo{
  position: absolute;
  left: 20px;
  top: 25px;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration:none;
color: darkcyan; }


a:active { text-decoration: none; }

.slogan{
position: absolute;
left: 35%;
top: 13%;
}

.footer{
position: absolute;
bottom:40px;
left: 75px;
}
.footer-items{
  margin:7px;
  color: aliceblue;
}
.copyright{
  position: absolute;
  right: 75px;
  bottom: 40px;
  color: aliceblue;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}
.login-field{
  padding: 10px;
  
}
.login-button-wrapper{
  margin-top: 15px ;
}
.login-button{
  height: fit-content;
  width: fit-content;
  font-size: 20px;
  padding: 5px;
  font-family: 'Merriweather', serif;
  border-radius: 10px;
  background-color: white;
  color: #8583a1;
  letter-spacing: 1px;
  box-shadow: 0px 0px 2px 2px #1c3a5b;
  border:none;
  margin-left: 70px;
  

}
.login-button:hover{
  background-color: #fc636b;
}



#input-field{
  padding: 10px 0 10px 30px;
  font-size: 17px;
  font-weight: 300;
  color: #1c3a5b ;
  letter-spacing: 1px;
  border: 2px solid ; 
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  width: 100%;  
 
}
.password{
  margin-top: 15px;
}

.email{
  margin-top: 15px;
}
.password i{
  position: absolute;
}
.icon {
  padding: 14px 10px 10px 9px;
  min-width: 40px;
  min-height: 42px;
}

.email i {
  position: absolute;
}
.list-login{
  color: aliceblue;
  margin: 15px;

}
.registration{
  color: aliceblue;
  background: transparent;
  letter-spacing: 2px;
  border-radius: 20px;
  margin-top: 15px;
  font-family: 'Merriweather', serif;
  width: 375px;
  height: 50px;
  font-size: 17px;
}
.registration:hover{
background-color: #fc636b;

}

.password-reset{
  color: aliceblue;
  margin: 15px;
}
.help-section{
    color: aliceblue;
  margin-left: 100px;


}
.list-login-bottom{
  margin-top: 30px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 3px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f33621;
  opacity: 0.8;
}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}